.menu {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

a {
    display: inline-block;
    color: #FFF;
    list-style: none;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 25px;
}

.logo {
    width: 200px;
    height: 60px;
}