body {
    background-color: #7c7a7a;
    background-size: 100% 100%;
    zoom: 70%;
}

section {
    display: grid;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.container .card {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 35px 80px #00000026;
    background: white;
    transition: .5s;
}

.container .card:hover {
    height: 400px;
}

.container .card .caixaimg {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    transition: .3s;
}

.container .card .caixaimg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 35px 80px #00000026;
    border-radius: 15px;
    padding: 16px;
    flex-wrap: wrap;
    gap: 30px;
    width: 900px;
    margin: auto;
}

.login {
    padding: 3px;
    flex-basis: 240px;
    width: 100%;
}

.box-login {
    margin: 0 210px 0;
}

.box .login h2, .box-login h2 {
    color: #009688;
    text-shadow: 2px 2px 5px #ccc;
}

.box .login p {
    font-weight: bold;
}

.reserved {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.reserved a {
    color: #232d83;
    text-shadow: none;
}